.card_container{

    width: 20rem;
    padding: 1.5rem;
    line-height: 3;
}

.card {

    padding: 1.5rem;
  }
  
  .imageSection {
    padding: 1rem;
    display: grid;
    align-items: center;
    justify-content: center;
    border-bottom: 26rem;
  }
  
  .label {
    margin-bottom: var(--mantine-spacing-xs);
    line-height: 2;
    font-weight: 700;
    font-size: var(--mantine-font-size-xs);
    letter-spacing: rem(-0.25px);
    text-transform: uppercase;
  }
  
  .section {
    padding: var(--mantine-spacing-md);
    border-top: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  }
  
  .icon {
    margin-right: rem(10px);
    color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-2));
  }